* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

:root {
  --color-primary: #f26a23;
  --color-gradient-1: #ff6b00;
  --color-gradient-2: #ffa740;
  --color-secundary: #7d4e1b;
  --color-terciary: #343434;
}

.centralization {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.background-top {
  width: 100%;
  height: 844px;
  background-image: url("../images/images-random/background-top.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-top {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: block;
  width: 800px;
}
.menu nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.menu nav ul li {
  display: flex;
  align-items: center;
}
.menu nav ul li a {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.menu-curto {
  display: none;
  width: 500px;
}
.menu-curto nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.menu-curto nav ul li {
  display: flex;
  align-items: center;
}
.menu-curto nav ul li a {
  margin: 5px;
  text-decoration: none;
  color: white;
}

.menu-mobile {
  display: none;
}
.menu-mobile hr {
  width: 20px;
  height: 5px;
  border: 0;
  background-color: white;
  margin: 2px;
}

.btn-nember {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-nember button {
  width: 101px;
  height: 35px;
  margin-right: 20px;
  font-size: 12px;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  cursor: pointer;
}
.btn-nember p {
  color: white;
}

.container-callToAction-top {
  display: flex;
  justify-content: space-between;
}

.text-top {
  margin-top: 220px;
}
.text-top p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.text-top h3 {
  margin-top: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: white;
}
.text-top span {
  margin-top: 26px;
  display: flex;
  align-items: center;
}
.text-top button {
  width: 101px;
  height: 35px;
  margin-right: 20px;
  font-size: 12px;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  cursor: pointer;
}

.container-text {
  display: flex;
  align-items: center;
}
.container-text h1 {
  padding-left: 10px;
  font-size: 40px;
  line-height: 48px;
  color: white;
}

.line-top {
  height: 140px;
  width: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
}

.card-user {
  width: 535px;
  height: 643px;
  margin-top: 50px;
  font-family: "Roboto";
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 50px 165px 165px rgba(18, 31, 62, 0.2);
  padding: 25px;
}
.card-user h1 {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
}
.card-user h1 img {
  position: relative;
  right: -120px;
}
.card-user p {
  margin-top: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7c869a;
}
.card-user span {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #7c869a;
}
.card-user span p {
  margin: 0;
}
.card-user span hr {
  width: 100px;
  background-color: #ecf0f5;
  height: 2px;
  border: 0;
}
.card-user button {
  width: 468px;
  height: 56px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  cursor: pointer;
}
.card-user button:nth-last-child(1) {
  background: #ffefe6;
  color: var(--color-primary);
}

.boxs-users {
  margin-top: 16px;
}
.boxs-users h3 {
  font-size: 16px;
}
.boxs-users input {
  margin: 14px 0 14px 0;
  padding-left: 40px;
  width: 465px;
  height: 56px;
  border: 1px solid #ecf0f5;
  border-radius: 6px;
  background-color: white;
  background-image: url("../images/icons/user.svg");
  background-repeat: no-repeat;
  background-position-y: 18px;
  background-position-x: 15px;
}

input:nth-child(4) {
  background-position-y: 16px;
  background-position-x: 10px;
  background-image: url("../images/icons/email.svg");
}

input:nth-child(6) {
  background-position-y: 16px;
  background-position-x: 10px;
  background-image: url("../images/icons/celular.svg");
}

.whay-chose {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.whay-info h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-primary);
}
.whay-info h1 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: black;
}
.whay-info hr {
  margin-top: 24px;
  width: 58px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: var(--color-primary);
}
.whay-info p {
  margin-top: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #736556;
}
.whay-info button {
  margin-top: 32px;
  width: 111px;
  height: 35px;
  margin-right: 20px;
  font-size: 12px;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  cursor: pointer;
}

.best-services-background {
  width: 100%;
  margin-top: 100px;
  height: 328px;
  background-color: var(--color-secundary);
}

.best-servises {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.services h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff8257;
}
.services h1 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
.services hr {
  margin-top: 18px;
  width: 58px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: #ff8257;
}
.services p {
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.servises-cards {
  width: 850px;
  display: flex;
  overflow-x: scroll;
  position: absolute;
  right: 1px;
}

.card {
  width: 287px;
  height: 181px;
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
  flex: 0 0 auto;
}
.card h3 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-primary);
}
.card p {
  margin-top: 10px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.aour-last-background {
  width: 100%;
  height: auto;
  background-color: #ebe9e9;
}

.aour-last {
  padding-top: 50px;
  text-align: center;
}
.aour-last h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff8257;
}
.aour-last h1 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: black;
}
.aour-last hr {
  margin: 0 auto;
  margin-top: 18px;
  width: 58px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: #ff8257;
}
.aour-last button {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 111px;
  height: 35px;
  margin-right: 20px;
  font-size: 12px;
  color: white;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(90.07deg, #ff6b00 2.12%, #ffa740 99.94%);
  cursor: pointer;
}

.images-aour {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-aour {
  width: 358px;
  height: 358px;
  margin: 15px;
  border-radius: 15px;
  background-image: url(../images/images-random/CES.png);
}

.image-aour:nth-child(2) {
  background-image: url(../images/images-random/XTEND.png);
}

.image-aour:nth-child(3) {
  background-image: url(../images/images-random/PANDA.png);
}

.image-aour:nth-child(4) {
  background-image: url(../images/images-random/pilar-marrom.png);
}

.image-aour:nth-child(5) {
  background-image: url(../images/images-random/Canteiro.png);
}

.image-aour:nth-child(6) {
  background-image: url(../images/images-random/Policia.png);
}

.whatt-aour {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/images-random/background-map.png");
  background-repeat: no-repeat;
}
.whatt-aour h3 {
  margin-top: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff8257;
}
.whatt-aour strong {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.whatt-aour h1 {
  margin-top: 25px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: black;
}
.whatt-aour p {
  margin-top: 60px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #343434;
}
.whatt-aour hr {
  margin: 0 auto;
  margin-top: 18px;
  width: 58px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: #ff8257;
}
.whatt-aour h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.whatt-aour h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.whatt-aour span {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.whatt-aour span a {
  display: flex;
  align-items: center;
}

.background-articles {
  width: 100%;
  margin-top: 40px;
  height: 500px;
  background-color: var(--color-secundary);
}

.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.cards-articles {
  width: 850px;
  display: flex;
  overflow-x: scroll;
  position: relative;
  right: 50px;
}

.card-art {
  width: 287px;
  height: 359px;
  margin: 18px;
  border-radius: 15px;
  text-align: start;
  padding: 13px;
  background-color: white;
}

.card-info {
  width: 261px;
  height: 162px;
}
.card-info span {
  margin-top: 12px;
  display: flex;
  gap: 15px;
}
.card-info span p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #7c7c7c;
}
.card-info h1 {
  margin-top: 9px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.card-info p {
  margin-top: 9px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #7c7c7c;
}
.card-info h3 {
  margin-top: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.card-info h3 a {
  text-decoration: none;
  color: #f26a23;
}

.articles-info h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff8257;
}
.articles-info h1 {
  margin-top: 18px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: white;
}
.articles-info hr {
  margin-top: 18px;
  width: 58px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: #ff8257;
}
.articles-info p {
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.background-process {
  width: 100%;
  height: auto;
  background-color: #f8f2f2;
}

.process {
  text-align: center;
  padding-top: 50px;
}
.process h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f26a23;
}
.process h1 {
  margin-top: 23px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 39px;
  color: #343434;
}
.process hr {
  width: 58px;
  height: 6px;
  margin: 0 auto;
  border: 0;
  border-radius: 3px;
  background-color: #ff8257;
}

.cards-process {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.card-pr {
  width: 293px;
  height: 496px;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  background-color: white;
}
.card-pr img {
  margin-top: 50px;
}
.card-pr h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.card-pr p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
}

@media screen and (max-width: 1440px) {
  .container-top {
    padding: 20px;
  }
  .container-callToAction-top {
    padding: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .container-callToAction-top {
    flex-direction: column;
    align-items: center;
  }
  .text-top {
    margin-top: 20px;
  }
  .background-top {
    height: auto;
  }
}
@media screen and (max-width: 1315px) {
  .best-services-background {
    height: 500px;
  }
  .best-servises {
    flex-direction: column;
  }
  .servises-cards {
    position: relative;
    width: 100%;
  }
  .services {
    text-align: center;
  }
  .services hr {
    margin: 0 auto;
  }
  .articles {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }
  .articles hr {
    margin: 0 auto;
  }
  .cards-articles {
    position: relative;
    justify-content: center;
    width: 980px;
    right: 0px;
  }
  .background-articles {
    height: auto;
  }
}
@media screen and (max-width: 1300px) {
  .menu {
    display: none;
  }
  .menu-curto {
    display: block;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1150px) {
  .whay-chose {
    flex-direction: column-reverse;
    align-items: center;
  }
  .whay-chose img {
    margin-top: 20px;
    width: 500px;
  }
  .whatt-aour {
    padding: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .menu-mobile {
    display: block;
  }
  .menu-curto {
    display: none;
  }
}
.cards-articles {
  width: 650px;
}

@media screen and (max-width: 692px) {
  .container-text h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .text-top {
    margin-top: 0;
  }
  .text-top p {
    font-size: 12px;
  }
  .line-top {
    height: 100px;
  }
  .whay-chose {
    padding: 20px;
  }
}
@media screen and (max-width: 650px) {
  .cards-articles {
    width: 330px;
  }
}
@media screen and (max-width: 600px) {
  .card-user {
    width: 350px;
  }
  .card-user button {
    width: 300px;
  }
  .card-user h1 img {
    right: -180px;
    top: -40px;
  }
  .boxs-users input {
    width: 300px;
  }
}
@media screen and (max-width: 540px) {
  .btn-nember button {
    margin: 0;
  }
  .btn-nember img {
    display: none;
  }
  .btn-nember p {
    display: none;
  }
  .whay-chose img {
    margin-top: 30px;
    width: 300px;
  }
  .whay-info {
    text-align: center;
  }
  .whay-info hr {
    margin: 0 auto;
  }
  .image-aour {
    width: 300px;
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */